body
{
  padding-top: 50px;
}

.media-object
{
    height: 65px;
}

.actionStrip span a
{
	margin-top: 10px;
	margin-right: 10px;
	vertical-align: bottom;
}

#feeds ul, #trends ul
{
	list-style: none;
}

#navActionBar
{
	float: right;
}